HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDEs y Editores
.idea/
*.iml
.vscode/

# Backend (Spring Boot / Maven)
supermercado-ventas-api/target/
*.jar
*.war

# Frontend (React / Vite)
Front-End/node_modules/
Front-End/dist/
Front-End/.env

# Docker y SO
.DS_Store
Thumbs.db